<header class="main-header">
  <nav class="navbar navbar-expand-lg navbar-light fixed-top bg-light">
    <div class="container">
      <a class="navbar-brand header-logo" href="#">
        <img class="img-fluid" src="https://surokkha.gov.bd/static/media/logo-f.5c608b98.png">
      </a>
      <button class="navbar-toggler d-lg-none" type="button" (click)="toggleExpand()">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-collapse collapse" id="collapseableNav">
       <ul class="navbar-nav ml-auto">
         <li class="nav-item"><a class="nav-link" routerLink="/home" routerLinkActive="active">হোম</a></li>
         <li class="nav-item"><a class="nav-link" routerLink="/registration" routerLinkActive="active">নিবন্ধন</a></li>
         <li class="nav-item"><a class="nav-link">নিবন্ধন (জন্ম সনদ)</a></li>
         <li class="nav-item"><a class="nav-link">নিবন্ধন (পাসপোর্ট)</a></li>
         <li class="nav-item"><a class="nav-link">টিকা কার্ড</a></li>
         <li class="nav-item"><a class="nav-link">টিকা সনদ</a></li>
         <li class="nav-item"><a class="nav-link">টিকা সনদ যাচাই</a></li>
       </ul>
       <a class="nav-link btn ml-lg-2 langu-btn">English</a>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<footer class="footer-section">
  <div class="container mt-5">
      <div class="row text-left">
          <div class="col-12 col-md-2 mb-3">
              <img class="img-fluid" src="https://surokkha.gov.bd/static/media/logo_white.8ef9a1c4.svg">
          </div>
          <div class="col-12 col-md-2">
              <ul class="footer-menu mb-5">
                  <li><a class="footer-link">জিজ্ঞাসা</a></li>
                  <li><a class="footer-link">সহায়িকা</a></li>
                  <li><a class="footer-link">প্রাইভেসি পলিসি</a></li>
                  <li><a class="footer-link">টার্মস অফ সার্ভিসেস</a></li>
                  <li><a class="footer-link">অন্যান্য সহযোগী প্রতিষ্ঠানসমূহ</a></li>
              </ul>
          </div>
          <div class="col-12 col-md-4 footer-sec-info">
              <p>কারিগরি সহায়তায় - তথ্য ও যোগাযোগ প্রযুক্তি অধিদপ্তর &nbsp;</p><img class="img-fluid"
                  src="https://surokkha.gov.bd/static/media/ict.52410752.png">
          </div>
          <div class="col-12 col-md-4 pt-5 pt-md-0 footer-sec-info">
              <p>সহযোগী সংস্থাসমূহ -&nbsp;</p><img alt="" class="img-fluid" src="https://surokkha.gov.bd/static/media/org.ed08c793.png">
          </div>
      </div>
  </div>
</footer>