@import "~src/assets/css/color_variables";
@import "~src/assets/css/font_styles_variables";

.hm-main-banner {
  display: block;
  background-image: url("https://surokkha.gov.bd/static/media/banner-bg.7358efba.jpg");
  background-size: cover;
  background-position: 50%;
  background-repeat: no-repeat;
  .hm-banner-cards {
    max-width: 750px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 50px;
    min-height: 600px;
    .banner-larg-card {
      flex-basis: 55%;
      flex-grow: 1;
      height: 100%;
      margin-right: 10px;
      .reg-form {
        transition: all 0.4s ease-in-out;
        background: $colorWhite;
        border-radius: 5px;
        height: 390px;
        padding: 2.2rem 1.5rem 2.2rem 2.2rem;
        img {
          margin-bottom: 10px;
        }
        h4 {
          font-size: 1.8rem;
          color: $colorDeepBlueForFonts;
          line-height: 1.3em;
        }
        .reg-form-fill-info {
          h6 {
            color: $colorDeepBlueForFonts;
          }
        }
        &:hover {
          background: $colorVerySoftBlue;
        }
        &::before {
          background: $colorDeepBlueV2;
          content: "";
          position: absolute;
          width: 80%;
          left: 50%;
          bottom: 0;
          -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
          height: 10px;
          border-top-left-radius: 5px;
          border-top-right-radius: 5px;
        }
      }
    }
    .banner-small-cards {
      flex-basis: 45%;
      margin-left: 10px;
      a {
        text-decoration: none !important;
        transition: all 0.4s ease-in-out;
      }
      .single-card {
        width: 100%;
        height: 90px;
        background: $colorWhite;
        border-radius: 5px;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        img {
          margin-right: 2rem;
        }
        p {
          font-size: $myFontSize22;
          font-weight: 600;
          margin-bottom: 0;
        }
        & + .single-card {
          margin-top: 10px;
        }
      }
      .card-status {
        &:hover {
          background: $colorGreeVerySoft;
        }
        ::before {
          background: $colorGreen;
          content: "";
          position: absolute;
          height: 80%;
          left: 0;
          top: 50%;
          bottom: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 10px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .card-collect {
        &:hover {
          background: $colorOlivVerySoft;
        }
        ::before {
          background: $colorOlivDeep;
          content: "";
          position: absolute;
          height: 80%;
          left: 0;
          top: 50%;
          bottom: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 10px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .card-file {
        &:hover {
          background: $colorGreeVerySoftV1;
        }
        ::before {
          background: $colorGreenV1;
          content: "";
          position: absolute;
          height: 80%;
          left: 0;
          top: 50%;
          bottom: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 10px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
      .card-question {
        &:hover {
          background: $colorSkyVerySoft;
        }
        ::before {
          background: $colorSkyDeep;
          content: "";
          position: absolute;
          height: 80%;
          left: 0;
          top: 50%;
          bottom: 0;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          width: 10px;
          border-top-right-radius: 5px;
          border-bottom-right-radius: 5px;
        }
      }
    }
  }
}

.contact-info-body {
  min-height: 100px;
  border-radius: 5px;
  margin-top: -5vh;
  z-index: 2;
  background: $colorWhite;
  padding: 1rem 2rem;
  z-index: 2;
  box-shadow: 0 4px 4px hsla(0,0%,72.5%,.25);
  .contact-single {
    height: 50px;
    padding: 1rem 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    & + .contact-single {
      border-left: 1px solid $colorGrayV2;
      padding-left: 2.5rem;
    }
    
    a { text-decoration: none; }

    span { display: block; }
    
    .contact-icon::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 40px;
      display: block;
      background: $colorGray;
      border-radius: 50%;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      z-index: -1;
    }
    .contact-icon {
      position: relative;
      width: 40px;
      height: 40px;
      margin: auto;
      img { margin-top: 11px; }
    }
    .contact-text {
      font-weight: $fontWeightBoldr;
      font-size: $myFontSize15;
    }
    .contact-number {
      margin-bottom: 16px;
      font-weight: $fontWeightBoldr;
      line-height: 1;
      color: #0d7b2c;
    }
  }
}

.reg-process-card {
  background: $colorWhite;
  box-shadow: 0 4px 4px hsla(0,0%,72.5%,.25);
  border-radius: 5px;
  margin-top: 50px;
  padding: 2.5rem;
  .reg-process-header {
    ::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      width: 5px;
      height: 100%;
      background: $colorDeepOrangeHover;
    }
    h2 {
      padding-left: 15px;
      position: relative;
    }
  }
  .reg-process-single {
    text-align: center;
    h3 {
      font-size: 1.1rem;
      margin: 1em 0;
      font-weight: $fontWeightBoldr;
    }
    a .img-size-200 {
      max-width: 200px;
    }
  }
  .align-item-height{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 220px;
  }
}

.app-download-section {
  margin: 2em 0;
  padding: 2em 0;
  .app-download-text {
    font-weight: $fontWeightBoldr;
  }
}

@media all and (max-width: 991.98px) {
  .contact-info-body
  .contact-single {
    & + .contact-single {
      padding-left: 1.5rem;
    }
  }
}

@media all and (max-width: 767px) {
  .hm-main-banner .hm-banner-cards {
    flex-direction: column;
    padding-top: 50px;
    .banner-larg-card {
      flex-basis: 100%;
      margin-right: auto;
      margin-bottom: 15px;
    }
    .banner-small-cards {
      flex-basis: 100%;
      width: 100%;
      margin-left: auto;
    }
  }
  .container .full-width-md-down {
    width: 100%;
  }
}
@media all and (max-width: 600px) {
  body {
    padding-top: 64px;
  }
  .main-header .fixed-top {
    padding: 0 1em;
  }
  .header-logo img {
    width: 150px;
    height: auto;
  }
  .reg-form {
    height: 270px !important;
    img {
      height: 70px;
      margin-bottom: 10px;
    }
    h4 {
      font-size: 1.3rem !important;
    }
  }
  .contact-info-body {
    flex-direction: column;
    margin-top: 45px;

    .contact-single {
      & + .contact-single {
        padding-left: 0;
        border-left: none;
      }
      margin-bottom: 45px;
      padding-bottom: 30px;
      border-bottom: 1px solid $colorGrayV2;
    }
  }
  .app-download-section {
    img { height: 63px; }
  }
  .reg-process-card {

    padding: 1rem;
    .reg-process-header h2 { 
      font-size: 1.2rem;
      font-weight: $fontWeightBoldr; 
    }
  }
}