<div class="hm-main-banner">
    <div class="container">
        <div class="hm-banner-cards">
            <div class="banner-larg-card">
                <a class="reg-form text-decoration-none d-flex flex-column justify-content-between align-items-center position-relative"
                    href="#">
                    <div class="d-flex justify-content-between align-items-center">
                        <img class="img-fluid" src="assets/images/check-1.png">
                        <h4 class="text-left ml-3 font-weight-bold">ভ্যাকসিনের জন্য নিবন্ধন করুন</h4>
                    </div>
                    <div class="reg-form-fill-info text-center">
                        <h6 class="mb-3"><strong>নিবন্ধনের সময় প্রয়োজন হবে</strong></h6><img class="img-fluid"
                            src="assets/images/check-2.png">
                    </div>
                </a>
            </div>
            <div class="banner-small-cards d-flex flex-column justify-content-between align-items-center">
                <a class="single-card card-status">
                    <img class="img-fluid"
                        src="assets/images/check-3.png">
                    <p>নিবন্ধন স্ট্যাটাস</p>
                </a>
                <a class="single-card card-collect"><img class="img-fluid"
                        src="assets/images/check-4.png">
                    <p>টিকা কার্ড সংগ্রহ</p>
                </a>
                <a class="single-card card-file"><img class="img-fluid"
                        src="assets/images/check-5.png">
                    <p>টিকা সনদ সংগ্রহ</p>
                </a>
                <a class="single-card card-question"><img class="img-fluid" src="assets/images/check-6.png"
                        alt="">
                    <p>সচরাচর জিজ্ঞাসা</p>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="contact-info-section">
    <div [ngClass]="{'container': !takeFullView, 'container-fluid': takeFullView}">
        <div class="contact-info-body d-flex justify-content-between align-items-center position-relative">
            <div class="contact-single">
                <a href="#">
                    <span class="contact-icon">
                        <img
                            src="assets/images/contact-icon.png" alt="">
                    </span>
                    <span class="contact-text">হটলাইন</span>
                </a>
            </div>
            <div class="contact-single">
                <a href="#">
                    <span class="contact-number">৩৩৩</span>
                    <span class="contact-text">জাতীয় কলসেন্টার</span>
                </a>
            </div>
            <div class="contact-single">
                <a href="#">
                    <span class="contact-number">১৬২৬৩</span>
                    <span class="contact-text">স্বাস্থ্য বাতায়ন</span>
                </a>
            </div>
            <div class="contact-single">
                <a href="#">
                    <span class="contact-number">১০৬৫৫</span>
                    <span class="contact-text">আইইডিসিআর</span>
                </a>
            </div>
            <div class="contact-single">
                <a href="#">
                    <span class="contact-number">০৯৬৬৬৭৭৭২২২</span>
                    <span class="contact-text">কোভিড-১৯ টেলিহেলথ</span>
                </a>
            </div>
            <div class="contact-single">
                <a href="#">
                    <span class="contact-icon">
                        <img
                            src="assets/images/contact-icon.png" alt="">
                    </span>
                    <span class="contact-text">সকল কল সেন্টার</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="reg-process-section">
    <div class="container">
        <div class="reg-process-card">
            <div class="reg-process-header">
                <h2>কোভিড-১৯ করোনা ভ্যাকসিন গ্রহণের প্রক্রিয়া</h2>
            </div>
            <div class="row text-left mt-5">
                <div class="col-12 col-sm-4">
                    <div class="reg-process-single">
                        <img alt=""
                            src="assets/images/process-1.png">
                        <h3>অনলাইনে নিবন্ধন</h3>
                        <p>প্রথমে এই পোর্টালের মাধ্যমে জাতীয় পরিচয়পত্র ও সঠিক মোবাইল নম্বর যাচাইপূর্বক অনলাইনে নিবন্ধন সম্পন্ন
                            করবেন।</p>
                    </div>
                </div>
                <div class="col-12 col-sm-4 pt-4 pt-sm-0">
                    <div class="reg-process-single">
                        <img alt=""
                            src="assets/images/process-2.png">
                        <h3>SMS নোটিফিকেশন</h3>
                        <p>অনলাইনে নিবন্ধন পরবর্তী তথ্য যাচাইপূর্বক পর্যায়ক্রমে টিকা প্রদানের তারিখ ও কেন্দ্রের নাম উল্লেখপূর্বক
                            মুঠোফোনে খুদেবার্তা পাবেন।</p>
                    </div>
                </div>
                <div class="col-12 col-sm-4 pt-4 pt-sm-0">
                    <div class="reg-process-single">
                        <img alt=""
                            src="assets/images/process-3.png">
                        <h3>টিকা কেন্দ্রে টিকা গ্রহণ</h3>
                        <p>মুঠোফোনে খুদেবার্তা প্রাপ্তি সাপেক্ষে টিকাকার্ড জাতীয় পরিচয়পত্র ও সম্মতিপত্রসহ নির্দিষ্ট তারিখে
                            টিকাদান কেন্দ্রে স্ব-শরীরে উপস্থিত হয়ে কোভিড-১৯ টিকা গ্রহণ করবেন।</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="app-download-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-12 col-lg-6 pt-3 text-center app-download-text">অ্যাপ ডাউনলোড করুন</div>
            <div [ngClass]="{'col-6 col-lg-3': !takeFullView, 'col-12 col-lg-3 text-center': takeFullView}">
                <a href="#">
                    <img alt="" class="img-fluid" src="assets/images/google-play-store.png">
                </a>
            </div>
        </div>
    </div>
</div>

<div class="reg-process-section mb-5">
    <div class="container">
        <div class="reg-process-card">
            <div class="reg-process-header">
                <h2>মুজিব ১০০</h2>
            </div>
            <div class="row text-left mt-5">
                <div class="col-12 col-sm-4 align-item-height">
                    <div class="reg-process-single">
                        <a href="#">
                            <img alt="" class="img-size-200" src="assets/images/mujib-pic.png">
                        </a>
                        <h3><a href="#">মুজিব ১০০ পোর্টাল</a></h3>
                    </div>
                </div>
                <div class="col-12 col-sm-4 align-item-height">
                    <div class="reg-process-single">
                        <a href="#">
                            <img alt="" class="img-size-200" src="assets/images/google-play-store-2.png">
                        </a>
                        <h3><a href="#">মুজিব ১০০ অ্যান্ড্রয়েড অ্যাপ</a></h3>
                    </div>
                </div>
                <div class="col-12 col-sm-4 align-item-height">
                    <div class="reg-process-single">
                        <a href="#">
                            <img alt="" class="img-size-200" src="assets/images/ios-app-store.png">
                        </a>
                        <h3><a href="#">মুজিব ১০০ আইওএস অ্যাপ</a></h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
